@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@tailwind utilities;
@plugin "@midudev/tailwind-animations";


@layer components {
    .blog {
        white-space: pre-line;
    }
    .link{
        text-decoration: underline;
        color: indigo;
    }
    .nav{
        z-index: 100;
        position: relative; 
    }
    .showcaseCard{
        z-index: 10;
        position: relative;
    }

}




